{% extends 'all-app/base.html %}
  {% load static %}
  {% block content %}
    {{block.super}}
    <div class="container">
      <div class="row">
        {% if photos %}
          <h2>Found {{photos|length}} of searched term {{message}}</h2>
        {% else %}
          <h2>Found 0 photos for the search term {{message}}</h2>
        {% endif %}
      </div>
      <div class="row">
        {% if photos %}
          {% for photo in photos %}
            <div class="">
              <img src="{{photo.imag.url}}" alt="{{photo.title}}" class="img-responsive">
            </div>
          {% endfor %}
        {% endif %}
      </div>
    </div>
  {% endblock %}