{% extends 'all-app/base.html' %}
  {% load static %}

  {% block styles %}
  <!--block styles-->
    {{block.super}}
  {% endblock %}

  {% block content %}
    {{block.super}}
    <div class="container">
      <div class="row">
        <h1>{{tag.name}}</h1>
      </div>
      <div class="row">
        {% for photo in photos %}
        <a href="{% url 'photo' photo.id %}"><img src="{{photo.image.url}}" alt={{photo.name}} class="img-responsive">
        </a>
        {% endfor %}
      </div>
    </div>
  {% endblock %}