{% load bootstrap3 %}
{% load static %}

  {% block styles %}
    {{block.super}}
  {% endblock %}

  {% block content %}
    {{block.super}}
    <div class="container">
      <div class="row">
        <img src="{{photo.image.url}}" alt="{{photo.title}}" class="img-responsive" id="modalImage">
      </div>
      <div class="row">
        {% for tag in photo.tags.all %}
        <span>{{tag.name}}</span>
        {% endfor %}
      </div>
    </div>
  {% endblock %}
  {% block scritps %}
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    /{% bootstrap_javascript %}
  {%endblock%}